// В этом файле должны быть стили для БЭМ-блока list-unordered, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.list {
  &.list-unordered, 
  &.list-ordered {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }

  .list-unordered,
  .list-ordered {

    &__content {
      // Стили для элемента content
      display: flex;
      padding-left: 28px;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 0;
      line-height: inherit;
      row-gap: 12px;

      @media screen and (max-width: 450px) {
        gap: 12px;
      }
    }

    &__title {
      // Стили для элемента title
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;

      @media screen and (max-width: 450px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__item {
      // Стили для элемента description
      color: #2C2D2E;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      list-style: none;
      margin-bottom: 0;

      @media screen and (max-width: 450px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .list-unordered {
    // Стили для элемента item unordered
    &__item {
      position: relative;

      &::before {
        content: "";
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        margin-right: 12px;
        background-color: #2C2D2E;
        position: absolute;
        top: 12px;
        left: -16px;

        @media screen and (max-width: 450px) {
          top: 10px;
        }
      }
    }
  }

  &.list-unordered--news {
    // Стили для модификатора news
    background-color: #EBEDF0;
    padding: 16px;
    margin-bottom: 32px;

    @media screen and (max-width: 450px) {
      padding: 12px;
      margin-bottom: 20px;
    }
  }

  &.check-wellige-circle {
    // Стили для модификатора check-wellige-circle
    li {
      position: relative;
    }
  
    li::before {
      content: "\f02B";
      font-family: "percoicon" !important;
      font-size: 24px;
      color: var(--color-base);
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      position: absolute;
      top: -4px;
      left: -30px;

      @media screen and (max-width: 450px) {
        top: 10px;
      }
    }
  }
}
