$color-main: #214288;
$color-success-light: #C8DBFF;
$color-danger : #E64646;
$color-danger-light : #FFC8C8;
$color-warning: #D37F32;; 
$color-warning-light: #FDF0D2;
 
// Семантические цвета
$text-color: #2C2D2E;
$text-subhead-color: #6D7885;
$heading-color: #1a1a1a; 
$text-color-muted: #808080;
$body-bg: #ffffff;
$link-color: $color-main;
$link-color-hover: $link-color;
$border-color: #999999;

// Bredcrumbs
$breadcrumbs-color: $text-color-muted;
$breadcrumbs-color-hover: $link-color-hover;

// Шрифты
$font-family: "Manrope", "Helvetica Neue", "Arial", sans-serif;

// Базовая типографика
$font-size: 16px;
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 16px;
$font-size-sm: 0.75em;
$line-height: 1.2;
$typo-margin-vertical: 16px;
$heading-font-weight: 700;
$font-family: "Manrope", "Helvetica Neue", "Arial", sans-serif;

// Ширины
$screen-sm: 425px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1440px;
$screen-xxl: 1800px;

$breakpoint-sm: 656px;
$breakpoint-md: 900px;
$breakpoint-lg: 1468px;
$breakpoint-xl: 1528px;
$breakpoint-2xl: 1920px;

// Контейнер
$container-width: 1170px;
$container-gap: 20px;
$grid-gap: 10px;

// Разное
$section-bottom-indent-xl: 150px;
$section-bottom-indent-sm: 100px;
$field-padding-vertical: 5px;
$field-padding-horizontal: 12px;
$border-radius: 3px;
$opacity: 0.3;
$transition-time: 0.3s;
$shadow: 0 0 5px rgb(0 0 0 / 30%);
$menu-desktop-width: $screen-lg;
$toggler-part-height: 2px;
$z-index-modal: 100;
$aos-distance: 100px;
$bg-secondary: #F5F5F5;
$bg-tertiary: #F9F9F9;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
